
 <!-- footer -->

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="/img/logo.png" alt="logo">
            <h4>Contact</h4>
            <p><strong>Address: </strong>College Road, Kalyani, West Bengal 741235</p>
            <p><strong>Phone: </strong> +91 1234567890</p>
            <p><strong>Hours: </strong> 10:00 - 18:00, Mon - Fri </p>
            <div class="follow">
                <h4>Follow US</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-github"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="/about">About Us</a>
            <a href="/cart">Delivery Information</a>
            <a href="/contact">Privacy Policy</a>
            <a href="/blog">Terms & Conditions</a>
            <a href="/contact">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="/signup">Sign In</a>
            <a href="/cart">View Cart</a>
            <a href="/cart">My Wishlist</a>
            <a href="/cart">Track My Order</a>
            <a href="/contact">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App or Google Play</p>
            <div class="row">
                <img src="/img/pay/app.jpg" alt="">
                <img src="/img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="/img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>Created By 209 | <i class="fas fa-copyright"></i> 2020 All rights reserved.</p>
        </div>
    </footer>

    <script src="/script.js"></script>
</body>

</html>