<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<!-- head page -->

    <section id="about-head" class="section-p1">
        <img src="img/about/a6.jpg" alt="">
        <div>
            <h2>Who We Are?</h2>
            <p class="l">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque nihil beatae impedit mollitia in dolores similique laborum, velit, corrupti ducimus voluptatem itaque, quis sint magni fugiat nisi eveniet. Nam, quasi! Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Praesentium illo dignissimos saepe fuga sapiente provident, natus blanditiis laboriosam eveniet, doloremque vitae facere qui eius quis tempora necessitatibus. Quisquam, placeat est!</p>

            <abbr title="" class="l">Create stunning images with as much or as little control as you like thanks to a choice of Basic and Creative modes.</abbr>

            <br><br>

            <marquee bgcolor="#ccc" lopo="-1" scrollamount="5" width="100%">Create stunning images with as much or as little control as you like thanks to a choice of Basic and Creative modes.</marquee>


        </div>
    </section>

    <section id="about-app" class="section-p1">
        <h1>Download Our <a href="#">App</a></h1>
        <!-- video -->
        <div class="video">
            <video autoplay muted loop src="img/about/1.mp4"></video>
        </div>
    </section>

    <!-- feature -->

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="img/features/f1.png" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f2.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f3.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f4.png" alt="">
            <h6>Promotion</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f5.png" alt="">
            <h6>Diwali Offers</h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f6.png" alt="">
            <h6>24/7 Support</h6>
        </div>
    </section>

    <!-- newsletter -->

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4> Sign Up For newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your Email Address">
            <a href="signup.html"><button class="normal">Sign Up</button></a>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>