<%- include('./partials/header.ejs') %>
  <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <div class="form-box">
        <h1 id="title">Login</h1>
        <form method="post">
          <div class="input-group">

                        <div class="input-field" for="email">
                            <i class="fas fa-envelope"></i>
                            <input type="email" required id="email" name="email"  placeholder="Enter Email">
                        </div>

                        <div class="input-field" for="password">
                            <i class="fas fa-lock"></i>
                            <input type="password" id="password" name="password" required placeholder="Enter Password">
                        </div>

                        <p>Forgot Password <a href="#"><strong>Click Here!</strong></a> </p>
                    </div>
          <button type="submit" id="signinBtn" class="btn-login" >Log In</button>
        </form>
      </div>
    </div>
